img {
    background-size: cover;
    background-position: 50%;
    width: 174px;
    height: 174px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
    
}

.card {
    display: inline-block;
    width: 24%;
    margin-bottom: 5px;
    margin-top: 5px;
    
   
}

@media screen and (max-width: 415px) {
    img {
        width: 74px;
        height: 74px;
        
    }

    .card {
        margin-bottom: 2px;
        margin-top: 2px;
    }
}