.App {
  text-align: center;
}

.navbar {
  margin-bottom: 0 !important;
}

.App-intro {
  font-size: large;
}

#body {
  background-color: rgb(40, 84, 165)
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
