.App {
  text-align: center;
}

.navbar {
  margin-bottom: 0 !important;
}

.App-intro {
  font-size: large;
}

#body {
  background-color: rgb(40, 84, 165);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


@media screen and (max-width: 415px) {
  #body {
     margin-top: 0;
     margin-bottom: 0;
     padding-bottom: 10%;
  }
}